In [3]:
#fuction with default parameters
def sample(x, y=1):
    return x*y
print(sample(5))
print(sample(5,3))

5
15

In [7]:
#function with keyword args *
def result(*args):
    return sum(args)
print(result(1,2,3))
print(result(11,22,33,44))

6
110

In [23]:
#lambda fun
sq=lambda x: x*x
print(sq(5))
add= lambda x,y: x+y
print(add(3,5))

25
8

In [21]:
def info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key} : {value}")
info(name="Vijay", age= 33, city= "Mumbai")

name : Vijay
age : 33
city : Mumbai

In [37]:
'''write a program to return n number multiple values where passing a list of 1 to 5
elements return the min max and avg in a single funtion'''
def allnum(n):
    return min(n), max(n), sum(n)/len(n)
min_val, max_val, avg = allnum([1,2,3,4,5])
print(f"Min: {min_val}, Max:{max_val}, Average:{avg}")

Min: 1, Max:5, Average:3.0

In [39]:
#direct recurion fact
def fact(n):
    if n==0 or n==1:
        return 1
    return n*fact(n-1)
print(fact(5))

120

In [41]:
def e(n):
    if n==0:
        return True
    return o(n-1)
def o(n):
    if n==0:
        return True
    return e(n-1)
print(e(4))
print(o(3))

True
True

In [43]:
def fact(n, t=1):
    if n==0 or n==1:
        return t
    return fact(n-1, n*t)
print(fact(5))

120

In [45]:
#linear rec
def total(n):
    if n<=0:
        return 0
    return n+total(n-1)
print(total(10))

55

In [49]:
def sfact(n):
    if n<=0:
        return 1
    return fact(n) *sfact(n-1)
def fact(n):
    if n<=1:
        return 1
    return n*fact(n-1)
print (sfact(4))

288

In [51]:
#power tower recursion
def pt(a,n):
    if n==1:
        return a
    return a**pt(a, n-1)
print(pt(2,4))
print(pt(3,2))

65536
27